https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Thin_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-display/Charlie_Display-Ultra_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Black_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Bold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Light_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Regular.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Semibold_Italic.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin.woff2
https://wac-cdn.atlassian.com/dam/fonts/charlie-sans/charlie-text/Charlie_Text-Thin_Italic.woff2